In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, Float, Date, MetaData

## Tabela Razão Contábil

In [4]:
# Caminho do arquivo Excel
excel_file = r'C:\Users\rodri\Downloads\DRE_PowerBI.xlsx'

# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_file, sheet_name='Fato.RazaoContabil')

# Remover as colunas
colunas_para_remover = ['Lote', 'Doc.', 'SEQ', 'Histórico']
df.drop(columns=colunas_para_remover, inplace=True)

# Renomear as colunas
df.rename(columns={
    'CR': 'Centro_Resultado',
    'Descrição CR': 'Descricao_Centro_Resultado',
    'Conta': 'Conta',
    'Descrição Conta': 'Descricao_Conta',
    'Data': 'Data',
    'Débito': 'Debito',
    'Crédito': 'Credito',
    'Saldo': 'Saldo'
}, inplace=True)

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(58813, 8)

-------------------------------------
Centro_Resultado                       int64
Descricao_Centro_Resultado            object
Conta                                 object
Descricao_Conta                       object
Data                          datetime64[ns]
Debito                               float64
Credito                              float64
Saldo                                float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
   Centro_Resultado Descricao_Centro_Resultado     Conta  \
0               211       Futebol Profissional  3.1.1.01
1               211       Futebol Profissional  3.1.1.01
2               211       Futebol Profissional  3.1.1.01
3               211       Futebol Profissional  3.1.1.01
4               211       Futebol Profissional  3.1.1.01

                  Descricao_Conta       Data  Debito  Credito      Saldo
0  Campeonato Baiano - Bilheteria 2022-01-31     NaN   6790.5 -5892800.0
1  Campeonato Baiano - Bilheteria 2022-02-28     NaN   6964.0 -5899764.0
2  Campeonato Baiano - Bilheteria 2022-02-28     NaN   7520.0 -5907284.0
3  Campeonato Baiano - Bilheteria 2022-02-28     NaN   9331.0 -5916615.0
4  Campeonato Baiano - Bilheteria 2022-02-28     NaN   7641.0 -5924256.0

In [6]:
# Amostra de dados da base
df.sample(5, random_state=42)

,Centro_Resultado,Descricao_Centro_Resultado,Conta,Descricao_Conta,Data,Debito,Credito,Saldo
31588,301,Loja Esquadrão,3.9.4.01,ICMS,2022-06-08,17.98,NaN,1253104.67
17104,301,Loja Esquadrão,3.9.3.02,Descontos concedidos - Loja Esquadrão,2022-04-19,69.97,NaN,1085058.22
26602,301,Loja Esquadrão,3.9.4.01,ICMS,2022-04-13,25.92,NaN,1080267.03
50168,211,Futebol Profissional,4.1.1.10,Direito de Imagem,2022-05-31,56000.00,NaN,53621779.64
29449,301,Loja Esquadrão,3.9.4.01,ICMS,2022-05-20,56.68,NaN,1176011.09

In [10]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = 'postgresql://postgres:123456789@localhost:5432/esquadrao'

# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS dre_ecbahia;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='dre_ecbahia')

# Definição da tabela f_razao_contabil
f_razao_contabil = Table('f_razao_contabil', metadata,
                         Column('Centro_Resultado', String),
                         Column('Descricao_Centro_Resultado', String),
                         Column('Descricao_Conta', String),
                         Column('Conta', String),
                         Column('Debito', Float),
                         Column('Credito', Float),
                         Column('Data', Date),
                         Column('Saldo', Float)
                         )
    
# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('f_razao_contabil', engine, schema='dre_ecbahia', if_exists='append', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM dre_ecbahia.f_razao_contabil LIMIT 5;"))
    for row in result:
        print(row)

('211', 'Futebol Profissional', 'Campeonato Baiano - Bilheteria', '3.1.1.01', None, 6790.5, datetime.date(2022, 1, 31), -5892800.0)
('211', 'Futebol Profissional', 'Campeonato Baiano - Bilheteria', '3.1.1.01', None, 6964.0, datetime.date(2022, 2, 28), -5899764.0)
('211', 'Futebol Profissional', 'Campeonato Baiano - Bilheteria', '3.1.1.01', None, 7520.0, datetime.date(2022, 2, 28), -5907284.0)
('211', 'Futebol Profissional', 'Campeonato Baiano - Bilheteria', '3.1.1.01', None, 9331.0, datetime.date(2022, 2, 28), -5916615.0)
('211', 'Futebol Profissional', 'Campeonato Baiano - Bilheteria', '3.1.1.01', None, 7641.0, datetime.date(2022, 2, 28), -5924256.0)

## Tabela Plano de Contas

In [11]:
# Caminho do arquivo Excel
excel_file = r'C:\Users\rodri\Downloads\DRE_PowerBI.xlsx'

# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_file, sheet_name='d.PlanoContas')

# Renomear as colunas
df.rename(columns={
   'Descrição Conta': 'Descricao_Conta',
    'Conta': 'Conta',
    'Descrição': 'Descricao_DRE',
}, inplace=True)

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(164, 3)

-------------------------------------
Descricao_Conta    object
Conta              object
Descricao_DRE      object
dtype: object

-------------------------------------

Visualização inicial dos dados:
          Descricao_Conta     Conta              Descricao_DRE
0    Ordenados e Salarios  4.1.1.01  (-) Custos das Atividades
1  Indenizacoes e Acordos  4.1.1.03  (-) Custos das Atividades
2            Horas Extras  4.1.1.04  (-) Custos das Atividades
3             13o Salario  4.1.2.01  (-) Custos das Atividades
4                  Ferias  4.1.2.02  (-) Custos das Atividades

In [12]:
# Amostra de dados da base
df.sample(5, random_state=42)

,Descricao_Conta,Conta,Descricao_DRE
135,Comunicacão,4.3.7.07,(-) Gerais e administrativas
115,Telefonia e Internet,4.3.1.04,(-) Gerais e administrativas
131,Doacoes,3.3.3.08,(+) RECEITA BRUTA DAS ATIVIDADES
55,Mecanismo Solidariedade,3.1.3.05,(+) RECEITA BRUTA DAS ATIVIDADES
95,Servicos Agenciamento de Atletas - PF,4.4.2.03,(-) Serviços

In [16]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = 'postgresql://postgres:123456789@localhost:5432/esquadrao'

# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS dre_ecbahia;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='dre_ecbahia')

# Definição da tabela f_razao_contabil
f_razao_contabil = Table('d_plano_contas', metadata,
                         Column('Descricao_Conta', String),
                         Column('Conta', String),
                         Column('Descricao_DRE', String),                         
                         )
    
# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('d_plano_contas', engine, schema='dre_ecbahia', if_exists='append', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM dre_ecbahia.d_plano_contas LIMIT 5;"))
    for row in result:
        print(row)

('Ordenados e Salarios', '4.1.1.01', '(-) Custos das Atividades')
('Indenizacoes e Acordos', '4.1.1.03', '(-) Custos das Atividades')
('Horas Extras', '4.1.1.04', '(-) Custos das Atividades')
('13o Salario', '4.1.2.01', '(-) Custos das Atividades')
('Ferias', '4.1.2.02', '(-) Custos das Atividades')

## Tabela Mapa DRE

In [17]:
# Caminho do arquivo Excel
excel_file = r'C:\Users\rodri\Downloads\DRE_PowerBI.xlsx'

# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_file, sheet_name='d.MapaDRE')

# Renomear as colunas
df.rename(columns={
    'Conta': 'Conta',
    'Cod.DRE': 'Codigo_DRE',
}, inplace=True)

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(164, 2)

-------------------------------------
Conta         object
Codigo_DRE     int64
dtype: object

-------------------------------------

Visualização inicial dos dados:
      Conta  Codigo_DRE
0  4.1.1.01           5
1  4.1.1.03           5
2  4.1.1.04           5
3  4.1.2.01           5
4  4.1.2.02           5

In [18]:
# Amostra de dados da base
df.sample(5, random_state=42)

        Conta  Codigo_DRE
135  4.3.7.07           6
115  4.3.1.04           6
131  3.3.3.13           1
55   3.1.3.02           1
95   4.4.2.03           7

In [19]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = 'postgresql://postgres:123456789@localhost:5432/esquadrao'

# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS dre_ecbahia;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='dre_ecbahia')

# Definição da tabela f_razao_contabil
f_razao_contabil = Table('d_mapa_dre', metadata,
                         Column('Conta', String),
                         Column('Codigo_DRE', String),                         
                         )
    
# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('d_mapa_dre', engine, schema='dre_ecbahia', if_exists='append', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM dre_ecbahia.d_mapa_dre LIMIT 5;"))
    for row in result:
        print(row)

('4.1.1.01', '5')
('4.1.1.03', '5')
('4.1.1.04', '5')
('4.1.2.01', '5')
('4.1.2.02', '5')

## Tabela DRE

In [20]:
# Caminho do arquivo Excel
excel_file = r'C:\Users\rodri\Downloads\DRE_PowerBI.xlsx'

# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_file, sheet_name='d.DRE (Resumida)')

# Renomear as colunas
df.rename(columns={
   'Descricao.DRE': 'Descricao_DRE',
    'Cod.DRE': 'Codigo_DRE',
    'Operação': 'Operacao',
    'Tipo': 'Tipo'
}, inplace=True)

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(17, 4)

-------------------------------------
Descricao_DRE    object
Codigo_DRE        int64
Operacao         object
Tipo              int64
dtype: object

-------------------------------------

Visualização inicial dos dados:
                         Descricao_DRE  Codigo_DRE Operacao  Tipo
0         RECEITA BRUTA DAS ATIVIDADES           1      (+)     0
1  Tributos e contribuições incidentes           2      (-)     0
2           Custos e deduções de venda           3      (-)     0
3       RECEITA LÍQUIDA DAS ATIVIDADES           4      NaN     1
4                Custos das Atividades           5      (-)     0

In [21]:
# Amostra de dados da base
df.sample(5, random_state=42)

                          Descricao_DRE  Codigo_DRE Operacao  Tipo
0          RECEITA BRUTA DAS ATIVIDADES           1      (+)     0
1   Tributos e contribuições incidentes           2      (-)     0
5              Gerais e administrativas           6      (-)     0
15     Provisão para perdas processuais          16      (-)     0
11                 Receitas financeiras          12      (+)     0

In [22]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = 'postgresql://postgres:123456789@localhost:5432/esquadrao'

# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS dre_ecbahia;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='dre_ecbahia')

# Definição da tabela f_razao_contabil
f_razao_contabil = Table('d_dre', metadata,
                         Column('Descricao_DRE', String),
                         Column('Codigo_DRE', String),
                         Column('Operacao', String),                         
                         Column('Tipo', String),                         
                         )
    
# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('d_dre', engine, schema='dre_ecbahia', if_exists='append', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM dre_ecbahia.d_dre LIMIT 5;"))
    for row in result:
        print(row)

('RECEITA BRUTA DAS ATIVIDADES', '1', '(+)', '0')
('Tributos e contribuições incidentes', '2', '(-)', '0')
('Custos e deduções de venda', '3', '(-)', '0')
('RECEITA LÍQUIDA DAS ATIVIDADES', '4', None, '1')
('Custos das Atividades', '5', '(-)', '0')

## Tabela Balancete

In [23]:
# Caminho do arquivo Excel
excel_file = r'C:\Users\rodri\Downloads\DRE_PowerBI.xlsx'

# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_file, sheet_name='d.Balancete')

# Renomear as colunas
df.rename(columns={
   'Conta': 'Conta',
    'Descrição': 'Descricao',
    'Saldo anterior': 'Saldo_Anterior',
    'Débito': 'Debito',
    'Crédito': 'Credito',
    'Saldo': 'Saldo'
}, inplace=True)

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(538, 6)

-------------------------------------
Conta              object
Descricao          object
Saldo_Anterior    float64
Debito            float64
Credito           float64
Saldo             float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
          Conta           Descricao  Saldo_Anterior       Debito      Credito  \
0             1               ATIVO    1.097143e+08  35809277.59  34340350.87
1           1.1    ATIVO CIRCULANTE    1.627051e+07  34442675.51  32803064.85
2         1.1.1          DISPONIVEL    6.288313e+04  13929844.00  13814560.41
3      1.1.1.01               CAIXA    1.762916e+04    180319.99    181995.30
4  1.1.1.01.004  Caixa - Tesouraria    1.637289e+04    143331.80    147337.00

          Saldo
0  1.111832e+08
1  1.791012e+07
2  1.781667e+05
3  1.595385e+04
4  1.236769e+04

In [24]:
# Amostra de dados da base
df.sample(5, random_state=42)

,Conta,Descricao,Saldo_Anterior,Debito,Credito,Saldo
485,4.3.8.30,Multas e Infrações,12739.71,585.10,130.16,13194.65
73,1.1.2.02.080,Cielo 2855463399 (M),0.00,1738.86,1021.25,717.61
348,3.2.1.04,Contrib. Extraordinárias - Campanhas,-919.60,0.00,0.00,-919.60
86,1.1.2.04.062,( - ) Provisão Prefeitura de Salvador,-1752516.51,0.00,0.00,-1752516.51
456,4.3.3,MANUTENCAO,218111.81,72109.61,17559.98,272661.44

In [25]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = 'postgresql://postgres:123456789@localhost:5432/esquadrao'

# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS dre_ecbahia;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='dre_ecbahia')

# Definição da tabela f_razao_contabil
f_razao_contabil = Table('d_balancete', metadata,
                         Column('Conta', String),
                         Column('Descricao', String),
                         Column('Saldo_Anterior', String),                         
                         Column('Debito', Float),
                         Column('Credito', Float),
                         Column('Saldo', Float),
                         )
    
# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('d_balancete', engine, schema='dre_ecbahia', if_exists='append', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM dre_ecbahia.d_balancete LIMIT 5;"))
    for row in result:
        print(row)

('1', 'ATIVO', '109714305.31', 35809277.59, 34340350.87, 111183232.03)
('1.1', 'ATIVO CIRCULANTE', '16270510.65', 34442675.51, 32803064.85, 17910121.31)
('1.1.1', 'DISPONIVEL', '62883.13', 13929844.0, 13814560.41, 178166.72)
('1.1.1.01', 'CAIXA', '17629.16', 180319.99, 181995.3, 15953.85)
('1.1.1.01.004', 'Caixa - Tesouraria', '16372.89', 143331.8, 147337.0, 12367.69)